/* frontend/src/components/LoginModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #282c34;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.modal-text {
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

.spotify-connect-button {
  background-color: #1DB954; /* Verde Spotify */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.2s ease;
}

.spotify-connect-button:hover {
    transform: scale(1.05);
}

.spotify-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg');
    background-size: contain;
    background-repeat: no-repeat;
}